html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(221, 221, 221, 0.993);
}

.produtos {
    display: flex;
}

.promo {
    display: flex;
    position: absolute;
    top: 80px;
    right: 100;
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 36px;
    font-size: 16px;
}

.card {
    display: flex;
    max-width: 320px;
    margin: 50px;
    padding: 50px;
    background-color: black;
    color: white;
    border-radius: 36px;
}

.card img {
    width: 120px;
    border-radius: 50%;
}

.card button {
    padding: 10px;
    background-color: cornflowerblue;
    border: 2px solid transparent;
    border-radius: 36px;
    color: white;
    font-weight: 600;
}

.card button:hover {
    padding: 10px;
    background-color: transparent;
    border: 2px solid cornflowerblue;
    border-radius: 36px;
    color: cornflowerblue;
    font-weight: 600;
    cursor: pointer;
}

.card button:focus {
    padding: 10px;
    background-color: rgba(100, 148, 237, 0.466);
    border: 2px solid cornflowerblue;
    border-radius: 36px;
    color: cornflowerblue;
    font-weight: 600;
    cursor: pointer;
}

